body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 2.5em;
  padding: 1em 1.4em;
  display:flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

#logo {
  max-width: 20em;
}

#photogrid{
  display: flex;
  margin: 40px auto;
  height: 30rem;
}

h1{
  font-size: 40px;
  margin-bottom: 0;
}
.Content{
  margin-left: 100px;
  font-family: 'Poppins';
}

.cards{
  display: flex;
  margin: 0rem;
  overflow-x:auto;
  /* text-overflow: ellipsis; */
}
#images, #card-content{
  margin-left: 6rem;
}

#images{
  height: 15rem;
  border-radius: 9px;
}

#card-content{
  font-size: small;
}

#star{
  height:0.8rem;
  margin-right: 0.2rem;;
}

#one{
  color: #918E9B;
}

#two{
  font-weight: bold;
}

.footer > h3{
  margin-bottom: 0;
}
.footer{
  margin-top: 1rem;
  padding: 0.1rem 0;
  text-align: center;
  background-color:firebrick;
  color:oldlace;
}
